<h1 class="global-nav__logo">PetApp</h1>

<div class="glonal-nav__section--right">
  <div class="global-nav__profile">
    <img src="http://via.placeholder.com/350x150" class="global-nav__profile-img" />

    <h2>Name</h2>
  </div>
</div>
