<header class="plan-item__header">
  <div class="plan-item__header-img"></div>
  <div class="plan-item__header-text">
    {{plan.title}}
  </div>
</header>

<main class="plan-item__body">
  {{plan.bodyText}}
</main>

<footer class="plan-item__footer">
  Footer
</footer>
